@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&family=Stylish&display=swap");

:root {
  --title-color: #333;
  --body-color: #696969;
  --background-color: #eee;
  --foreground-color: #fff;
  --blend-mode: normal;
}

.dark {
  --title-color: #fff;
  --body-color: #afafaf;
  --background-color: #181621;
  --foreground-color: #211f2a;
  --blend-mode: lighten;
}
/* PRE-LOADER */

.loader_bg{
  position: fixed;
  z-index: 999999;
  background:  #090909;
  /* background: #fff; */
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid #a09f9f;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}

/* ===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  max-width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: var(--body-color);
  background-color: var(--background-color);
  transition: color 0.25s, background-color 0.25s;
  overflow-x: hidden;
}

/* THEME DARK / LIGHT CSS START HERE  */
a {
  text-decoration: none;
  color: #fff;
}

/* ==================== */
.top {
  position: relative;
  overflow: hidden;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.head-vid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -999;
}

@media screen and (max-width: 768px) {
  .top {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}

.text {
  text-align: center;
  padding: 0 200px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

.text h1 {
  font-size: 10vw;
  font-weight: 800;
  color: #bbb2b238;
}

.text p {
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  /* color: #bbb2b259; */
  color: #bbb2b238;
  font-size: 6vw;

  /* font:900 1.5/10rem white; */
}

/* ========== */

/* ==================== */
#checkbox {
  display: none;
}

.switch {
  border: 3px solid var(--body-color);
  position: relative;
  display: flex;
  justify-content: center;
  width: 55px;
  height: 25px;
  border: 1.2px solid #6a6767;
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  color: var(--title-color);
}

.switch>* {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.switch__ball {
  left: 1px;
  z-index: 10;
  display: inline-block;
  width: 2.2rem;
  height: 2rem;
  background-color: #6a6767;
  border-radius: 50%;
  transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
  color: var(--title-color);
}

.switch__sun {
  left: 5px;
}

.switch__moon {
  right: 5px;
}

#checkbox:checked+.switch__ball {
  transform: translate(29px, -50%);
}

/* NAVIGATION CSS START HERE */
.primary-header {
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 999;
  width: 100%;
  transition: background-color 0.5s;
  color: #fff;
}

.register {
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: 3.5rem;
}

.navbar {
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  transition: height 0.25s;
}
@media (max-width:990px) {
  #navbarSupportedContent{
    margin-top: 30px;
    width: 100%;
    height: 450px;
    /* background-color:#ffffffa3 ; */
    background: rgba(0 0 0 /10%);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    /* text-shadow: 1px 1px grey; */
  }
  .switch{
    /* margin-left: 20px; */
  }
}
.navbar a {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

.navbar ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.navbar .button {
  color: #151515;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}

.logo {
  font-size: 2.7rem;
  font-weight: 900;
}

.logo:hover {
  color: white;
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin-left: 5rem;
  margin-right: auto;
}

.nav-link {
  transition: color 0.25s;
}

.nav-list.nav-link a {
  color: #fff;
}

.nav-link:hover {
  color: #d3d3d3;
}

.navbar-toggler {
  background-color: #ffffffa3;
  height: 3rem;
  width: 4rem;
}

header.active {
  background-color: #ffffffa3;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

header.active .navbar {
  height: 6rem;
}

header.active .logo,
header.active .nav-link {
  /* color: #313131; */
  color: #6e6e6e;

}

header.active .nav-link:hover {
  color: #808080;
}

header.active .button {
  background-color: #313131;
  color: #fff;
}

header.active .button:hover {
  background-color: #151515;
}

/* NAVIGATION CSS ENDS HERE */
/* ======== */
.dropdown-menu{
  height:350px;
}
.dropdown-menu a{
  color: #000000;

}
.dropdown{
  color: #fff;
}
.dropdown:hover{
  color: #fff;
}
.dropdown ul li a{
  text-decoration: none;
  color: #151515;
  font-weight: 600;
}
.dropdown-item{
  padding: 20px;
  font-size: 1.3em;
}
.dropdown ul li a:hover{
  color:#fff;
}
.dropdown-item:hover{
  background-color:  #262234;
}

/* ======== */
/* NAVBAR WORK ENDS HERE */
/* ===================   */
.main {
  height: 400px;
  width: 650px;
  font-size: 20px;
}

.main h1 {
  font-weight: 600;
  font-size: 2em;
}

.main p {
  font-family: "Playfair Display";

}

.main-btn {
  font-size: 0.6em;
  text-decoration: none;
  font-weight: 550;
  /* color:#2e2e2e; */
  border: 1px solid #9c9c9c;
  height: 40px;
  width: 190px;
  background-color: transparent;
  text-decoration: none;
  color: #696969;
  background-color: #b7b4b5;
  border-radius: 25px;
  z-index: -999;
}

.main-btn:hover {
  background-color: #928e8e;
  transition-duration: 0.5s;

}

.second-main {
  height: 300px;
  width: 650px;
}
@media (max-width:768px) {
  .second-main{
    margin-top: 100px;
  }
}

/* ================== */
.cities {
  text-align: center;
}

.cities h1 {
  font-weight: 700;
  font-size: 2em;
}

.cities-2 h4 {
  font-size: 1.2em;
  font-weight: 500;
  font-family: "Playfair Display";

}
@media (max-width:768px) {
  .cities{
    margin-bottom:20px ;
  }
}
/* ======== */
#maps {
  text-align: center;
  font-weight: 700;
  font-size: 2em;
}

/* ================== */

.map {
  height: 500px;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

}

/* =============== */
.main-2 {
  height: 700px;
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
}

.img {
  width: 50%;
}

.tex {
  width: 50%;
  height: 76%;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(70px);
}
.tex h2{
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  margin-top: 20px;
}
.tex p{
  text-align:center;
  font-size: 1em;
  margin-top: 25px;
}
@media (max-width:1560px) {
  .main-2 {
    flex-direction: column;
    margin-top: 300px;
  }

  .img {
    width: 100%;
  }

  .tex {
    width: 100%;
    margin-top: 20px;
}
.tex h2{
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  margin-top:20px;
}
.tex p{
  text-align:center;
  font-size: .6em;
  margin-top: 40px;
}
}

@media (max-width:768px) {
  .main-2 {
    flex-direction: column;
    margin-top: 300px;
  }

  .img {
    width: 100%;
  }

  .tex {
    width: 100%;
    margin-top: 20px;
  }
  .tex h2{
    text-align: center;
    font-size: 1em;
    font-weight: 500;
  }
  .tex p{
    text-align:center;
    font-size: .6em;
  }
}

/* ============== */
.main-3 {
  height: 700px;
  width: 100%;
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: row;
}

.img-3 {
  width: 50%;
}

.tex-3 {
  width: 50%;
  height: 52.5%;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(70px);
}
.tex-3 h2{
  text-align: center;
  font-size: 2em;
  font-weight: 500;
  margin-top: 20px;
}
.tex-3 p{
  text-align:center;
  font-size: 1em;
  margin-top: 25px;
}
@media (max-width:1560px) {
  .main-3 {
    flex-direction: column;
    margin-top: 30px;
  }

  .img-3 {
    width: 100%;
  }

  .tex-3 {
    width: 100%;
    margin-top: 10px;
}
.tex-3 h2{
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  margin-top:20px;
}
.tex-3 p{
  text-align:center;
  font-size: .6em;
  margin-top: 40px;
}
}

@media (max-width:768px) {
  .main-3 {
    flex-direction: column;
    margin-top: 30px;
  }

  .img-3 {
    width: 100%;
  }

  .tex-3 {
    width: 100%;
    margin-top: 20px;
  }
  .tex-3 h2{
    text-align: center;
    font-size: 1em;
    font-weight: 500;
  }
  .tex-3 p{
    text-align:center;
    font-size: .6em;
  }
}

/* ============== */
.about-us {
  text-align: center;
  font-weight: bold
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');