*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}
/* ================== */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Roboto&family=Stylish&display=swap");
:root {
  --title-color: #333;
  --body-color: #696969;
  --background-color: #eee;
  --foreground-color: #fff;
  --blend-mode: normal;
}
.dark {
  --title-color: #fff;
  --body-color: #afafaf;
  --background-color: #181621;
  --foreground-color: #211f2a;
  --blend-mode: lighten;
}
/* PRE-LOADER */

.loader_bg{
  position: fixed;
  z-index: 999999;
  background:  #090909;
  /* background: #fff; */
  width: 100%;
  height: 100%;
}
.loader{
  border: 0 soild transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh - 75px);
  left: calc(50vw - 75px);
}
.loader:before, .loader:after{
  content: '';
  border: 1em solid #a09f9f;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}
.loader:before{
  animation-delay: .5s;
}
@keyframes loader{
  0%{
      transform: scale(0);
      opacity: 0;
  }
  50%{
      opacity: 1;
  }
  100%{
      transform: scale(1);
      opacity: 0;
  }
}

/* ===================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  max-width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: var(--body-color);
  background-color: var(--background-color);
  transition: color 0.25s, background-color 0.25s;
  overflow-x: hidden;
}
/* THEME DARK / LIGHT CSS START HERE  */
a {
  text-decoration: none;
  color: #fff;
}
#checkbox {
  display: none;
}
.switch {
  border: 3px solid var(--body-color);
  position: relative;
  display: flex;
  justify-content: center;
  width: 55px;
  height: 25px;
  border: 1.2px solid #6a6767;
  border-radius: 30px;
  cursor: pointer;
  background-color: transparent;
  color: white;
  color: var(--title-color);
}
.switch > * {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.switch__ball {
  left: 1px;
  z-index: 10;
  display: inline-block;
  width: 2.2rem;
  height: 2rem;
  background-color: #6a6767;
  border-radius: 50%;
  transition: transform 0.5s cubic-bezier(0.52, -0.4, 0.27, 1.55);
  color: var(--title-color);
}
.switch__sun {
  left: 5px;
}
.switch__moon {
  right: 5px;
}
#checkbox:checked + .switch__ball {
  transform: translate(29px, -50%);
}
/* NAVIGATION CSS START HERE */
.primary-header {
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 999;
  width: 100%;
  transition: background-color 0.5s;
  color: #fff;
}
.register {
  max-width: 120rem;
  margin-inline: auto;
  padding-inline: 4.5rem;
}
.register a{
  color: #fff;
}
.register a:hover{
  color: #fff;
}
.navbar {
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.05);
  transition: height 0.25s;
}
@media (max-width:990px) {
  #navbarSupportedContent{
    margin-top: 30px;
    width: 100%;
    height: 450px;
    /* background-color:#ffffffa3 ; */
    background: rgba(0 0 0 /10%);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    /* text-shadow: 1px 1px grey; */
  }
  .switch{
    /* margin-left: 20px; */
  }
}
.navbar a {
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.navbar ul li a {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
.navbar ul li a:hover{
  color: #fff;
}
.navbar .button {
  color: #151515;
  font-size: 16px;
  text-decoration: none;
  font-weight: bold;
}
.logo {
  font-size: 2.7rem;
  font-weight: 900;
}
.navbar-brand{
  color: #fff;
} 
.logo:hover{
  color: #fff;
}
.nav-list {
  list-style: none;
  display: flex;
  gap: 2.5rem;
  margin-left: 5rem;
  margin-right: auto;
}
ul li a{
    text-decoration:none;
    color: #fff;
}
ul li a :hover{
    color: #fff;
}

/* .nav-link {
  transition: color 0.25s;
}
.nav-link a {
  color: #fff;
} */
.nav-link :hover {
  color: #ffffff;
}
.navbar-toggler {
  background-color: #ffffffa3;
  height: 3rem;
  width: 4rem;
}
header.active {
  background-color: #ffffffa3;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
header.active .navbar {
  height: 6rem;
}
header.active .logo,
header.active .nav-link {
  /* color: #313131; */
  color: #6e6e6e;

}
header.active .nav-link:hover {
  color: #808080;
}
header.active .button {
  background-color: #313131;
  color: #fff;
}
header.active .button:hover {
  background-color: #151515;
}
/* NAVIGATION CSS ENDS HERE */
/* ======== */
.dropdown-menu{
  height:310px;

}
.dropdown:hover{
  color: #fff;
}
.dropdown ul li a{
  text-decoration: none;
  color: #1a1a1a;
}
.dropdown-item{
  /* padding: 10px; */
  font-size: 1.5em;
  line-height: 50px;
  font-weight: bolder;

}
.dropdown-item:hover{
  line-height: 50px;
}
.dropdown ul li a:hover{
  color:#fff;
  background-color:  #262234;
}

/* ======== */
/* ================== */
section{
    padding: 40px 15%;
}
.contact{
background: #101010;
height: 100%;
width: 100%;
min-height: 100vh;
display: grid;
grid-template-columns: repeat(2, 2fr);
align-items: center;
grid-gap:6rem;
}
.contact-img img{
max-width: 100%;
width: 720px;
height: auto;
border-radius:10px ;
}
.contact-form h1{
    font-size: 80px;
    color: #fff;
    margin-bottom: 20px ;
}
span{
    color: #f9004d;
}
.contact-form p{
    color: #c6c9d8bf;
    letter-spacing: 1px;
    line-height: 26px;
    font-size: 1.1rem;
    margin-bottom: 3.8rem;
}
.contact-form form{
    position: relative;
}
.contact-form form input,
form textarea{
    width: 100%;
    padding:17px;
    border: none;
    outline: none;
    background: #191919;
    color: #fff;
    font-size: 1.1rem;
    margin-bottom: 0.7rem;
    border-radius: 10px ;
}
.contact-form textarea{
    resize: none;
    height: 200px;
}
.contact-form form .btn{
    display: inline-block;
    background: #f9004d;
    font-size: 1.1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border: 2px solid transparent;
    border-radius: 10px;
    width: 220px;
    transition: ease .20s;
    cursor: pointer;
}
.contact-form form .btn:hover{
    border: 2px solid #f9004d;
    background: transparent;
    transform: scale(1.1);
    color: #fff;
}
@media  (max-width:1570px) {
    section{
        padding: 80px 3%;
        transition: .2s;
    }
    .contact-form h1{
        font-size: 60px;
    }
    .contact-form p{
        margin-bottom: 3rem;
    }
}
@media (max-width:1090px){
.contact{
    grid-gap:2rem;
    transition: .2s;
    }
}
@media  (max-width:1000px){
.contact{
    grid-template-columns: 1fr;
}
.contact-form{
    order: 2 ;
}
.contact-img img{
    max-width: 100%;
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 30px;
}
}
/* ======================== */

.footer {
    padding-block: 5rem;
    background-color: #151823;
    color: #666873;
  }
  .footer__container {
    max-width: 116rem;
    margin: auto;
    padding: 0 1.5rem;
  }
  
  .footer__top {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    row-gap: 2rem;
  }
  .footer__title {
    font-size:2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 2rem;
  }
  .footer__list {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .footer__list-item {
    list-style: none;
    font-size: 16px;
  }
  .footer__list-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.25s;
  }
  .footer__list-link:hover {
    color: #fff;
  }
  
  .company__info {
    grid-column: 1/-1;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding-right: 5rem;
  }
  .company__logo {
    color: #fff;
    font-size:3rem;


  }
  .company__info ul {
    flex-direction: row;
  }
  .copyright {
    margin-top: auto;
  }
  @media screen and (min-width: 400px) {
    .company__info {
      grid-column: span 2;
    }
  }
  
/* ======================== */